.swap {
    background-color: $bgColor;
    border-radius: 24px;
    width: 100%;
    max-width: 458px;
    margin: 0 auto;
    border: 1px solid #1B2232;
    padding: 20px;
    &__top {
        border-radius: 16px;
        background-color: $tabBg;
        padding: 16px;
        margin-bottom: 16px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        &-side {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        p {
            font-size: 14px;
            line-height: 16px;
            font-family: $sfDisplay;
            font-weight: 600;
            color: #6E6E73;
            margin-right: 26px;
            transition: .3s ease;
            cursor: pointer;
            &:hover {
                opacity: .88;
            }
            &:last-child {
                margin: 0;
            }
            &.active {
                color: $white;
            }
        }
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            margin-right: 13px;
            transition: .3s ease;
            cursor: pointer;
            &:hover {
                opacity: .88;
            }
            &:last-child {
                margin-right: 0;
            }
            img {
                width: 100%;
            }
        }
    }
    &__main {
        position: relative;
        margin-bottom: 10px;
        &-item {
            padding: 16px;
            border-radius: 12px;
            background-color: $bgColor;
            margin-bottom: 10px;
            &:last-child {
                background-color: transparent;
                border: 1px solid #1B2232;
                margin: 0;
            }
            &-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 12px 0;
                &:last-child {
                    margin: 0;
                }
            }
      
        }
        & > span {
            position: absolute;
            top: 50%;
            left: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            box-shadow: 0px 0.81186443567276px 3.24745774269104px 0px #00000026;
            background-color: #324054;
            transform: translate(-50%, -50%);
            padding: 6px;
            img {
                width: 100%;
            }
        }

        h6 {
            letter-spacing: -0.03em;
            font-family: $sfDisplay;
            font-weight: 600;
            display: flex;
            align-items: center;
            color: $white;
            &:first-child {
                transition: .3s ease;
                cursor: pointer;
                &:hover {
                    opacity: .88;
                }
            }
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 22px;
                height: 22px;
                margin-right: 6px;
    
                &:last-of-type {
                    margin: 0;
                }
                img {
                    width: 100%;
                }
            }
        }
        p {
            opacity: .6;
        }
    }
    &__bottom {
        padding: 0 16px;
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 13px;
            &:last-child {
                margin-bottom: 0;
                b {
                    margin: 0;
                }
                span {
                    margin: 0;
                }
            }
        }
        p {
            display: flex;
            align-items: center;
            &.chevron {
                transition: .3s ease;
                cursor: pointer;
                &:hover {
                    opacity: .88;
                }
            }
            &:last-child {
                justify-content: flex-end;
                text-align: end;
            }
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                margin: -2px 3px 0;
                img {
                    width: 100%;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            b {
                opacity: .6;
                font-weight: 500;
                color: $white;
                margin: 0 3px;
                &:last-of-type {
                    margin-left: 0;
                }
                &.blue {
                    color: #17A8FA;
                }
            }
        }
    }
    .button {
        padding: 15px 30px;
        font-size: 15p;
        line-height: 17px;
        font-family: $sfDisplay;
        font-weight: 600;
        color: #17A8FA;
        background-color: #192B45;
        border-radius: 12px;
        span {
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
    }
    p {
        font-size: 13px;
        line-height: 14px;
        font-weight: 500;
    }
}
// 540px
@mixin swap-xsm-sm {
    .swap {


    }
}
// 440px
@mixin swap-xxsm-xsm {
    .swap {
        padding: 14px;
        border-radius: 18px;
        &__header {
            p {
                margin-right: 18px;
            }
        }
        &__top {
            padding: 13px;
            border-radius: 13px;
            margin-bottom: 9px;
        }
        &__main {
            &-item {
                padding: 12px;
                &-row {
                    margin: 9px 0;
                }
            }
            & > span {
                width: 30px;
                height: 30px;
                padding: 5px;
            }
        }
        &__bottom {
            padding: 0 13px;
            &-item {
                margin-bottom: 8px;
            }
            p {
                span {
                    width: 18px;
                    height: 18px;
                }
            }
        }
        .button {
            padding: 10px 20px;
            font-size: 14px;
            line-height: 15px;
        }
        p {
            font-size: 11px;
            line-height: 13px;
        }
        h6 {
            font-size: 17px;
            line-height: 20px;
            span {
                width: 18px;
                height: 18px;
            }
        }
    }
}

// 390px
@mixin swap-xxxsm-xxsm {
    .swap {

    }
}